// Home —————————————————————————————————————— •
// ——————————————————————————————————————————— •

.home {
  h2 {
    display: inline-block;
    border-bottom: 1px $color-lines solid;
    margin-bottom: 2em;
  }
  hr {
    width: 2em;
    height: 1px;
    display: block;
    border-top: 1px $color-lines solid;
  }

  ol, ul {
    margin-bottom: 2em;
    margin-left: 2rem;
  }
  li {
  }
}

.home-intro {
  margin-top: 1em;
  font-size: 2rem;
}

.home-closing {
  margin-top: 4em;
  font-size: 1.2rem;
}

.home-additional-info {
  h2 {
    margin-bottom: 1rem;
  }
}

.home {
  position: relative;
}
.home-latest-update {
  position: absolute;
  top: 2em;
  right: 2em;
  display: inline-block;
  text-align: right;
}

// Home: Tablet —————————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  .home {
  }
}
