// Home —————————————————————————————————————— •
// ——————————————————————————————————————————— •

.home {
  h2 {
    display: inline-block;
    border-bottom: 1px $color-lines solid;
    margin-bottom: 2em;
  }
  hr {
    width: 2em;
    height: 1px;
    display: block;
    border-top: 1px $color-lines solid;
  }

  ol, ul {
    margin-bottom: 2em;
    margin-left: 2rem;
  }
  li {
  }
}

.home-intro {
  margin-top: 1em;
  font-size: 2rem;
}

// Home: Tablet —————————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  .home {
  }
}
