// Home —————————————————————————————————————— •
// ——————————————————————————————————————————— •

$font-headings-home: "freight-sans-condensed-pro", Helvetica, Arial, sans-serif;
$color-headings-home: #708A9F;

html {
  transition: background-color 0.5s ease;
  &[data-section-in-view="interests"]      { background-color: #C2BCAF; }
  &[data-section-in-view="my-work"]        { background-color: #894B1C; }
  &[data-section-in-view="previous-work"]  { background-color: #B7B7AD; }
  // &[data-section-in-view="beliefs"]        { background-color: #B55E19; }
  // &[data-section-in-view="values"]         { background-color: #DBE2EA; }
  &[data-section-in-view="christianity"]   { background-color: #B55E19; }
  &[data-section-in-view="questions"]      { background-color: #9DB0A3; }
}

@keyframes brush-01-blue {
	100% { background-position: 0 -1447px; }
}
html[data-section-in-view="interests"] #interests h2 {
  position: relative;
  &:before {
    top: -30px;
    left: -20px;
    width: 390px;
    height: 100px;
    content: '';
    position: absolute;
    z-index: -1;
  	background: url('../images/brush-01-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
  	animation: brush-01-blue .3s steps(14);
    animation-fill-mode: forwards;
  }
}

.home {
  h2 {
    font-family: $font-headings-home;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 0.9;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-headings-home;
    span.sub-title {
      font-family: $font-headings;
      font-size: 0.8em;
      margin-top: 0.2em;
      line-height: 1.2;
      display: block;
      font-weight: normal;
    }
  }

  .coming-soon {
    display: inline-block;
    font-size: 0.5em;
    border-radius: 0.4em;
    padding: 0.3em 0.6em 0.4em;
    background-color: transparentize($color-highlight, 0.4);
    color: mix($color-link, $color-text);
    text-transform: uppercase;
    font-weight: normal!important;
    @include responsive-break-point(768px) {
      position: absolute;
      margin-left: 1em;
      margin-top: 0.2em;
    }
  }

  hr {
    width: 2em;
    height: 1px;
    display: block;
    border-top: 1px $color-lines solid;
  }

  ol {
    margin-bottom: 2em;
    margin-left: 2rem;
  }
  ul {
    margin-bottom: 2em;
    margin-left: 1rem;
  }
  li {
  }

  .home-intro {
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 1em;
    strong {
      font-family: $font-headings-home;
      font-weight: 900;
      text-transform: uppercase;
      color: $color-headings-home;
      font-size: 1.2em;
    }
    position: relative;
    &:after {
      content: "";
      width: 2rem;
      height: 0;
      border-bottom: 0.2rem solid $color-lines;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }
}

.home .home-beliefs {
  margin-left: 0;
  padding-left: 0;
  li {
    padding-left: 0;
    margin-bottom: 0.5em;
    list-style: none;
    line-height: 1.2em;
    padding: 0.2em 0.5em;
    background: transparentize($color-highlight, 0.7);
    border-radius: 0.3em;
  }
}

.home .home-values {
  margin-left: 0;
  padding-left: 0;
  li {
    padding-left: 0;
    margin-bottom: 0.5em;
    list-style: none;
    line-height: 1.2em;
  }
  mark {
    font-weight: normal;
    font-style: normal;
    background: transparentize($color-highlight, 0.7);
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: -0.1em 0;
  }
}

// Home: Tablet —————————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  .home {
    h2 {
      font-size: 2.2rem;
      width: 70%;
    }
    .home-beliefs {
      li {
        margin-left: -0.5em;
      }
    }
    ul {
      margin-left: 2rem;
    }
  }
}
