.objectives-course {

  .content {
    font-size: 0.9em;
    line-height: 1.25;
    ul {
      padding-left: 0;
      margin-left: 1em;
    }
  }

  .img-responsive {
    width: 100%;
    height: auto;
    display: block;
  }
  .img-responsive-full {
    display: none;
  }
  @include responsive-break-point(420px) {
    .img-responsive-mobile {
      display: none;
    }
    .img-responsive-full {
      display: block;
    }
  }



  h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.1;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em 0;
    line-height: 1.1;
  }

  mark {
    color: inherit;
    background: transparentize($color-highlight, 0.7);
    display: inline;
    padding: 0 0.2em;
    margin: 0 0;
  }

  #mc_embed_signup {
    &, & .button, & input.email, & #mc-embedded-subscribe-form div.mce_inline_error {
      font: inherit;
    }
    .button {
      height: auto;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.1;
    margin: 1em 0 0.5em;
    &.get-started-heading {
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      margin: 2em 0 1em;
    }
  }

  ul {
    margin-left: 0em;
    font-style: italic;
    @include responsive-break-point(640px) {
      margin-left: 1em;
    }
  }

  .switch-away-from {
    font-size: 1.2em;
    @include responsive-break-point(640px) {
      margin: 0 3em 3em;
    }
  }

  .intro, #mc_embed_signup, .createform {
    padding: 1em;
    background: transparentize($color-highlight, 0.7);
    border-radius: 0.3em;
    margin: 1em 0 2em;
    box-sizing: border-box;
  }

  ul.get-started-checklist {
    width: 80%;
    margin: 0 auto;
    list-style: none;
    font-style: normal;
    li {
      margin: 0.5em 0;
      margin-left: 2em;
      display:inline-block;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        @include border-radius(0.75em);
        left: -2em;
        top: -0.2em;
        background: #f7f4ee;
      }
      &:after{
        /*Add another block-level blank space*/
        content: '';
        display: block;
        position: absolute;
        left: -1.5em;
        top: 0em;

        /*Make it a small rectangle so the border will create an L-shape*/
        width: 0.3em;
        height: 0.7em;

        /*Add a white border on the bottom and left, creating that 'L' */
        border: solid #000;
        border-width: 0 0.2em 0.2em 0;

        /*Rotate the L 45 degrees to turn it into a checkmark*/
        transform: rotate(45deg);
      }
    }
  }

  .sign-up-link {
    display: inline-block;
    padding: 0.5em 2em;
    background: transparentize($color-highlight, 0.7);
    border-radius: 0.3em;
  }

  .sign-up-link-wrapper {
    text-align: center;
    margin: 1em 0;
  }

  .createform {
    .cf-input {
      padding: 0.5em .7em;
    }

    .cf-label {
      margin-bottom: 0;
      margin-top: 0;
    }

    .submit-btn {
      font-size: 1em;
      background-color: $color-link;
    }

    .cf-submit {
      margin-top: 0;
    }
  }

  hr {
    max-width: 10rem;
    margin: 2em auto 1em;
    background-color: $color-lines;
    border: none;
    height: 0.2rem;
  }

  .have-done-lists-heading {
    text-transform: none;
    font-weight: normal;
    font-style: italic;
  }

  .have-done-list {
    font-size: 0.8em;
    line-height: 1.2em;
    background: lighten($color-text, 66%);
    padding: 1em;
    margin: 1em;
    color: #333;

    h3 {
      font-weight: 700;
      margin: 0;
      color: #333;
    }
    ul {
      list-style: none;
      margin-left: 1em;
      font-style: normal;
      color: lighten(#333, 30%);
      margin-top: 0.5em;
      margin-bottom: 0;
    }
    li {
      margin-bottom: 0.5em;
    }
  }

  @include responsive-break-point(640px) {
    .have-done-lists {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      align-content: flex-start;
      justify-content: center;
      flex-wrap: wrap;
    }
    .have-done-list {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 35%;
    }
  }

  ul.instead-of-list {
    list-style: none;
    margin-left: 1rem;
    margin-top: 2.5em;
    @include responsive-break-point(640px) {
      margin-top: 0;
      margin-left: 7em;
    }
    position: relative;
    font-style: normal;

    line-height: 1.1em;
    li {
      margin-bottom: 1em;
    }
  }
  .instead-of-prefix {
    @include responsive-break-point(640px) {
      position: absolute;
      display: inline-block;
      white-space: nowrap;
      bottom: auto;
      right: 100%;
      margin-right: 0.3em;
      margin-left: 0;
      margin-top: 0;
      text-align: right;
    }
  }

  ul.lets-me-list {
    list-style: none;
    margin-left: 1rem;
    margin-bottom: 3rem;
    li {
      margin-top: 0.5em;
    }
  }

}
