.objectives-course {

  .content {
    font-size: 0.9em;
    line-height: 1.25;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.1;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em 0;
    line-height: 1.1;
  }

  #mc_embed_signup {
    &, & .button, & input.email, & #mc-embedded-subscribe-form div.mce_inline_error {
      font: inherit;
    }
    .button {
      height: auto;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.1;
    margin: 1em 0 0.5em;
  }

  ul {
    margin-left: 0em;
    font-style: italic;
    @include responsive-break-point(640px) {
      margin-left: 1em;
    }
  }

  .intro {
    padding: 1em;
    background: transparentize($color-highlight, 0.7);
    border-radius: 0.3em;
    margin: 1em 0 2em;
  }

  hr {
    max-width: 10rem;
    margin: 2em auto 1em;
    background-color: $color-lines;
    border: none;
    height: 0.2rem;
  }

  .have-done-lists-heading {
    text-transform: none;
    font-weight: normal;
    font-style: italic;
  }

  .have-done-list {
    font-size: 0.8em;
    line-height: 1.2em;
    background: lighten($color-lines, 5%);
    padding: 1em;
    margin: 1em;

    h3 {
      font-weight: 700;
      margin: 0;
    }
    ul {
      list-style: none;
      margin-left: 1em;
      font-style: normal;
      color: lighten($color-text, 10%);
      margin-top: 0.5em;
      margin-bottom: 0;
    }
    li {
      margin-bottom: 0.5em;
    }
  }

}
