.button {
  display: inline-block;
  margin-top: 0.5em;
  height: auto;
  white-space: normal;
  line-height: 1.2;
  padding: 0.3em 0.7em;
  background-color: $color-button;
  -webkit-appearance: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  &, &:visited {
    color: white;
  }
  &:hover {
    background-color: darken($color-button, 10%);
    color: white;
  }
  &, &:hover {
    text-decoration: none;
  }
}