body #mc_embed_signup {
  &, & .button, & input.email, & #mc-embedded-subscribe-form div.mce_inline_error {
    font: inherit;
  }
  .button {
    height: auto;
    white-space: normal;
    line-height: 1.2;
    padding: 0.3em 0.7em;
    background-color: $color-button;
    -webkit-appearance: none;
    border-radius: 4px;
    &:hover {
      background-color: darken($color-button, 10%);
    }
  }
  div#mce-responses {
    padding: 0;
    margin: 0;
  }
  div.response {
    margin: 0 0 1em;
    padding: 0;
  }
  padding: 1em;
  background: transparentize($color-highlight, 0.7);
  border-radius: 0.3em;
  margin: 1em 0 2em;
  box-sizing: border-box;
}
